{{> navigation}}

<div class="container" style="color:darkred; margin-top: 20px;">
    <h5>CONSULTA 13</h5>
    <h5>
        Desplegar el nombre del profesional, su salario, su comisión y el total de salario
        (sueldomas comisión) de todos los profesionales con comisión mayor que el 25%
        de su salario.
    </h5>
</div>

<div class="container pd-4" style="margin-top: 5px;">

    <table class="table table-dark">
    <thead>
        <tr>
        <th scope="col">PROFESIONAL</th>
        <th scope="col">SALARIO</th>
        <th scope="col">COMISION</th>
        <th scope="col">SALARIO TOTAL</th>
        <th scope="col">25% DEL SALARIO</th>
        </tr>
    </thead>
    <tbody>
        {{#each result}}
            <tr>            
                <th scope="row">{{nombre}}</th>
                <td>{{salario}}</td>
                <td>{{comision}}</td> 
                <td>{{salario_total}}</td>
                <td>{{porc_salario}}</td>       
            </tr>
        {{/each}}
    </tbody>
    </table>

</div>